<a href="https://colab.research.google.com/github/Jasper-Hewitt/homework/blob/main/homework_assignment_stemming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
! wget https://s3.amazonaws.com/assets.datacamp.com/production/course_3629/fake_or_real_news.csv

--2022-11-23 14:13:30--  https://s3.amazonaws.com/assets.datacamp.com/production/course_3629/fake_or_real_news.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.109.254, 52.217.79.230, 3.5.20.159, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.109.254|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 30696129 (29M) [text/csv]
Saving to: ‘fake_or_real_news.csv.1’

fake_or_real_news.c 100%[===================>]  29.27M  7.57MB/s    in 3.9s

2022-11-23 14:13:35 (7.57 MB/s) - ‘fake_or_real_news.csv.1’ saved [30696129/30696129]

In [4]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/fake_or_real_news.csv')
data_length = 4000
df = df.head(data_length)

In [5]:
df = df[df['text'].str.len()>10]
df = df.reset_index()
#conver to lower case
df['text'] = df['text'].astype(str).str.lower()

In [6]:
from nltk.stem.porter import PorterStemmer
from nltk.stem.porter import PorterStemmer
import nltk
nltk.download('punkt')
ps=PorterStemmer()

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [9]:
#df['text'] = df.apply(lambda row: nltk.word_tokenize(row['text']), axis=1)

In [13]:
#df['text'] = df['text'].astype(str).str.lower()

In [7]:
df

,index,Unnamed: 0,title,text,label
0,0,8476,You Can Smell Hillary’s Fear,"daniel greenfield, a shillman journalism fello...",FAKE
1,1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,google pinterest digg linkedin reddit stumbleu...,FAKE
2,2,3608,Kerry to go to Paris in gesture of sympathy,u.s. secretary of state john f. kerry said mon...,REAL
3,3,10142,Bernie supporters on Twitter erupt in anger ag...,"— kaydee king (@kaydeeking) november 9, 2016 t...",FAKE
4,4,875,The Battle of New York: Why This Primary Matters,it's primary day in new york and front-runners...,REAL
...,...,...,...,...,...
3974,3995,1026,"Clinton, under fire for oil and gas donations,...",clinton lost her temper at an event on thursda...,REAL
3975,3996,1459,His rivals are saying the same thing in differ...,chris christie depicts marco rubio as a truant...,REAL
3976,3997,5366,The Genocide of Indigenous Peoples in North Am...,prof. tony hall speaks out on mohawk territory...,FAKE
3977,3998,9673,Checkmating Obama,originally published by the jerusalem post . \...,FAKE
3978,3999,10498,September New Homes Sales Rise——-Back To 1992 ...,september new homes sales rise back to 1992 le...,FAKE

In [8]:
df['text']=df.text.apply(lambda x: [ps.stem(word) for word in x.split()])

In [9]:

df['text'] = df['text'].astype(str).str.lower()

In [8]:
#df['text'] = df['text'].astype(str).str.lower()

In [10]:
df

,index,Unnamed: 0,title,text,label
0,0,8476,You Can Smell Hillary’s Fear,"['daniel', 'greenfield,', 'a', 'shillman', 'jo...",FAKE
1,1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,"['googl', 'pinterest', 'digg', 'linkedin', 're...",FAKE
2,2,3608,Kerry to go to Paris in gesture of sympathy,"['u.s.', 'secretari', 'of', 'state', 'john', '...",REAL
3,3,10142,Bernie supporters on Twitter erupt in anger ag...,"['—', 'kayde', 'king', '(@kaydeeking)', 'novem...",FAKE
4,4,875,The Battle of New York: Why This Primary Matters,"[""it'"", 'primari', 'day', 'in', 'new', 'york',...",REAL
...,...,...,...,...,...
3974,3995,1026,"Clinton, under fire for oil and gas donations,...","['clinton', 'lost', 'her', 'temper', 'at', 'an...",REAL
3975,3996,1459,His rivals are saying the same thing in differ...,"['chri', 'christi', 'depict', 'marco', 'rubio'...",REAL
3976,3997,5366,The Genocide of Indigenous Peoples in North Am...,"['prof.', 'toni', 'hall', 'speak', 'out', 'on'...",FAKE
3977,3998,9673,Checkmating Obama,"['origin', 'publish', 'by', 'the', 'jerusalem'...",FAKE
3978,3999,10498,September New Homes Sales Rise——-Back To 1992 ...,"['septemb', 'new', 'home', 'sale', 'rise', 'ba...",FAKE

In [11]:
#df_text= df['text']#.str.split()
type(df['text'])

pandas.core.series.Series

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [13]:
# DataFlair - Splitting the dataset
x_train, x_test, y_train, y_test = train_test_split(df['text'], df['label'], test_size=0.33)

In [16]:
from sklearn import svm
from sklearn.metrics import accuracy_score
#DataFlair - Initialize a TfidfVectorizer
tfidf_vectorizer=TfidfVectorizer(stop_words='english', max_df=0.6)
#DataFlair - Fit and transform train set, transform test set
tfidf_train=tfidf_vectorizer.fit_transform(x_train) 
tfidf_test=tfidf_vectorizer.transform(x_test)

In [17]:
clf = svm.SVC(kernel='rbf')
clf.fit(tfidf_train, y_train)
y_pred = clf.predict(tfidf_test)
accuracy_score(y_test, y_pred)

0.9079147640791476

# Ok SO I GUESS THIS IS WHERE IT ENDS?

In [ ]:
#and now without stemming!!!
import pandas as pd
import numpy as np
df2 = pd.read_csv('/content/fake_or_real_news.csv')
data_length = 4000
df2 = df.head(data_length)





#df['text_string_stem'] = df['text_token'].apply(porter.stem)#(token)(wordnet_lem.lemmatize)

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"['daniel', 'greenfield,', 'a', 'shillman', 'jo...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,"['googl', 'pinterest', 'digg', 'linkedin', 're...",FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,"['u.s.', 'secretari', 'of', 'state', 'john', '...",REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"['—', 'kayde', 'king', '(@kaydeeking)', 'novem...",FAKE
4,875,The Battle of New York: Why This Primary Matters,"[""it'"", 'primari', 'day', 'in', 'new', 'york',...",REAL
...,...,...,...,...
3995,1026,"Clinton, under fire for oil and gas donations,...","['clinton', 'lost', 'her', 'temper', 'at', 'an...",REAL
3996,1459,His rivals are saying the same thing in differ...,"['chri', 'christi', 'depict', 'marco', 'rubio'...",REAL
3997,5366,The Genocide of Indigenous Peoples in North Am...,"['prof.', 'toni', 'hall', 'speak', 'out', 'on'...",FAKE
3998,9673,Checkmating Obama,"['origin', 'publish', 'by', 'the', 'jerusalem'...",FAKE
3999,10498,September New Homes Sales Rise——-Back To 1992 ...,"['septemb', 'new', 'home', 'sale', 'rise', 'ba...",FAKE

In [ ]:
df_text= df['text']#.str.split()
df_text

In [ ]:
#other, more proper way to do it?
import nltk
text11='Daniel Greenfield, a Shillman Journalism Fellow at the Freedom Center, is a New York writer focusing on radical Islam. In the final stretch of the election, Hillary Rodham Clinton has gone to war with the FBI. The word “unprecedented” has been thrown around so often this election that it ought to be retired. But it’s still unprecedented for the nominee of a major political party to go war with the FBI. But that’s exactly what Hillary and her people have done'
tokenizer = nltk.tokenize.WhitespaceTokenizer()
tokens = tokenizer.tokenize(text11)
tokens

In [ ]:
stemmed_tokens = [porter.stem(token) for token in tokens]
stemmed_tokens

In [ ]:
porter.stem(tokens)

In [ ]:
import pandas as pd
import nltk
nltk.download('punkt')

In [ ]:
#convert to string
df=df.applymap(str)

In [ ]:
df_text = df['text']
type(df_text)

In [ ]:
tokens = [nltk.word_tokenize(text) for text in df_text] #df['text']]
type(tokens)

In [ ]:
tokens

In [ ]:
for str in plurals:
  singles = [stemmer.stem(plurals) for str in plurals] 
singles

In [ ]:
from nltk.stem import PorterStemmer
porter = PorterStemmer()

In [ ]:
stemmer = nltk.stem.PorterStemmer()
" ".join(stemmer.stem(token) for token in tokens)

In [ ]:
#stemming is 
stemmed_tokens = [porter.stem(token) for token in tokens] #we call this line a one shot for loop
stemmed_tokens

#stemmer = nltk.stem.PorterStemmer()
#" ".join(stemmer.stem(token) for token in tokens)