<a href="https://colab.research.google.com/github/Jasper-Hewitt/homework/blob/main/homework_stemmed_fake_news_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 01 stemmed fake news detection

In [18]:
! wget https://s3.amazonaws.com/assets.datacamp.com/production/course_3629/fake_or_real_news.csv

--2022-11-23 14:35:37--  https://s3.amazonaws.com/assets.datacamp.com/production/course_3629/fake_or_real_news.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.179.205, 54.231.233.24, 52.216.79.22, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.179.205|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 30696129 (29M) [text/csv]
Saving to: ‘fake_or_real_news.csv.2’

fake_or_real_news.c 100%[===================>]  29.27M  8.25MB/s    in 3.5s

2022-11-23 14:35:41 (8.25 MB/s) - ‘fake_or_real_news.csv.2’ saved [30696129/30696129]

In [19]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/fake_or_real_news.csv')
data_length = 4000
df = df.head(data_length)

In [20]:
df = df[df['text'].str.len()>10]
df = df.reset_index()
#conver to lower case
df['text'] = df['text'].astype(str).str.lower()

In [21]:
from nltk.stem.porter import PorterStemmer
from nltk.stem.porter import PorterStemmer
import nltk
nltk.download('punkt')
ps=PorterStemmer()

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [22]:
df['text']=df.text.apply(lambda x: [ps.stem(word) for word in x.split()])

In [9]:
df['text'] = df['text'].astype(str).str.lower()

In [10]:
df

,index,Unnamed: 0,title,text,label
0,0,8476,You Can Smell Hillary’s Fear,"['daniel', 'greenfield,', 'a', 'shillman', 'jo...",FAKE
1,1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,"['googl', 'pinterest', 'digg', 'linkedin', 're...",FAKE
2,2,3608,Kerry to go to Paris in gesture of sympathy,"['u.s.', 'secretari', 'of', 'state', 'john', '...",REAL
3,3,10142,Bernie supporters on Twitter erupt in anger ag...,"['—', 'kayde', 'king', '(@kaydeeking)', 'novem...",FAKE
4,4,875,The Battle of New York: Why This Primary Matters,"[""it'"", 'primari', 'day', 'in', 'new', 'york',...",REAL
...,...,...,...,...,...
3974,3995,1026,"Clinton, under fire for oil and gas donations,...","['clinton', 'lost', 'her', 'temper', 'at', 'an...",REAL
3975,3996,1459,His rivals are saying the same thing in differ...,"['chri', 'christi', 'depict', 'marco', 'rubio'...",REAL
3976,3997,5366,The Genocide of Indigenous Peoples in North Am...,"['prof.', 'toni', 'hall', 'speak', 'out', 'on'...",FAKE
3977,3998,9673,Checkmating Obama,"['origin', 'publish', 'by', 'the', 'jerusalem'...",FAKE
3978,3999,10498,September New Homes Sales Rise——-Back To 1992 ...,"['septemb', 'new', 'home', 'sale', 'rise', 'ba...",FAKE

In [11]:
#df_text= df['text']#.str.split()
type(df['text'])

pandas.core.series.Series

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [13]:
# DataFlair - Splitting the dataset
x_train, x_test, y_train, y_test = train_test_split(df['text'], df['label'], test_size=0.33)

In [16]:
from sklearn import svm
from sklearn.metrics import accuracy_score
#DataFlair - Initialize a TfidfVectorizer
tfidf_vectorizer=TfidfVectorizer(stop_words='english', max_df=0.6)
#DataFlair - Fit and transform train set, transform test set
tfidf_train=tfidf_vectorizer.fit_transform(x_train) 
tfidf_test=tfidf_vectorizer.transform(x_test)

In [17]:
clf = svm.SVC(kernel='rbf')
clf.fit(tfidf_train, y_train)
y_pred = clf.predict(tfidf_test)
accuracy_score(y_test, y_pred)

0.9079147640791476

In [ ]:
#see other code in this repository for the accuracy of unstemmed data.